#lienzo{
    height: 200px;
    width: 1800px;
    background-color: rgb(88, 121, 243);
}
#lienzo2{
    height:200px;
    width: 1800px;
    background-color: rgb(88, 121, 243);
}
#lienzo3{
    height: 200px;
    width: 1800px;
    background-color: rgb(88, 121, 243);
}